<div class="friend-profile" class="row">
  <div class="friend-info full">
    {{fill-murray width=300 length=300}}
    <div>
      <p>{{model.fullName}}</p>
      <p>{{model.email}}</p>
      <p>{{model.twitter}}</p>
      <ul class="friend-profile-links">
        <li>{{link-to 'Edit info' 'friends.edit'}}</li>
        <li>{{link-to 'Lend article' 'articles.new'}}</li>
        <li><a href="#" {{action "delete" model}}>Delete</a></li>
      </ul>
    </div>
    <label class="checkbox">
      <input type="checkbox">
      <span>Show returned</span>
    </label>
  </div>
</div>

<div class="articles-container">
  {{outlet}}
</div>
