<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <p>
    <label>First Name:
      {{input value=firstName}}
    </label>
  </p>
  <p>
    <label>Last Name:
      {{input value=lastName }}
    </label>
  </p>
  <p>
    <label>Email:
      {{input value=email}}
    </label>
  </p>
  <p>
    <label>twitter
      {{input value=twitter}}
    </label>
  </p>
  <input type="submit" value="Save"}}/>
  <button {{action "cancel"}}>Cancel</button>
</form>
