<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <fieldset>
    {{input value=firstName placeholder='First Name'}}</br>
    {{input value=lastName  placeholder='Last Name'}}</br>
    {{input value=email placeholder='email'}}</br>
    {{input value=twitter placeholder='twitter'}}</br>
    <input type="submit" value="Save" class="primary">
    <button {{action "cancel"}}>Cancel</button>
  </fieldset>
</form>
