<div class="friend-profile">
  <p>{{firstName}}</p>
  <p>{{lastName}}</p>
  <p>{{email}}</p>
  <p>{{twitter}}</p>
  <p>{{link-to 'Edit info' 'friends.edit' this}}</p>
  <p><a href="#" {{action "delete" this}}>delete</a></p>
</div>
<div class="articles-container">
  {{outlet}}
</div>
