<div class="friend-profile">
  <p>{{model.firstName}}</p>
  <p>{{model.lastName}}</p>
  <p>{{model.email}}</p>
  <p>{{model.twitter}}</p>
  <p>{{link-to "Edit info" "friends.edit" model}}</p>
  <p><a href="#" {{action "delete" model}}>delete</a></p>
</div>
