<table class="primary friends-table">
  <thead>
    <tr>
      <th {{action "setSortBy" "firstName"}}> Name</th>
      <th {{action "setSortBy" "totalArticles"}}>Articles</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each friend in model}}
      <tr class="friend-row">
        <td>{{link-to friend.fullName "articles" friend.id}}</td>
        <td>{{friend.totalArticles}}</td>
        <td><a href="#" {{action "delete" friend}}>delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
